@font-face {
  font-family: "Nunito";
  src: url("./nunito-sans/nunitoreg.ttf");
}

body {
  font-family: "Nunito";
  background-color: #f2ebe7;
}

a {
  text-decoration: none;
  margin: 18px 20px;
  font-size: 20px;
  color: black;
}

a:active {
  color: #f00000;
}

table {
  border-collapse: separate;
  position: absolute;
  top: 44%;
  left: 50%;
  margin-top: -381px;
  margin-left: -244px;
  border-spacing: 40px;
}

td {
  font-size: 38px;
  text-align: center;
}

#window1,
#window2,
#window3,
#window4 {
  font-size: 44px;
}

input[type="button"] {
  width: 60%;
  height: 40px;
  color: white;
  border: none;
  border-radius: 6px;
  background-color: #f74f4f;
  font-size: 16px;
  font-family: "Nunito";
  outline: none;
  cursor: pointer;
}
