@font-face {
  font-family: "Nunito";
  src: url("./nunito-sans/nunitoreg.ttf");
}

body {
  margin: 0;
  font-family: "Nunito";
  background-color: #f2ebe7;
}

header {
  background-color: rgba(247, 79, 79, 0.9);
}

header::after {
  content: "";
  display: table;
  clear: both;
}

nav {
  text-transform: uppercase;
}
nav ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
}

nav ul li {
  font-size: 21px;
  margin: 30px 0px 5px 45px;
  line-height: 40px;
  display: inline-block;
}

#logo-header {
  width: 50px;
  /* margin-left: 0px; */
}

nav a {
  text-decoration: none;
  color: #0f111a;
  padding-left: 15px;
  padding-right: 15px;
}

nav a:hover {
  color: #f2ebe7;
}

.main {
  width: 100%;
  /* height: 100%; */
}

.main p {
  /* line-height: 450px; */
  text-align: center;
  letter-spacing: 8px;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently                                    supported by Chrome, Edge, Opera and Firefox */
}

.main a {
  text-decoration: none;
  color: #f00000;
}

.main a:active {
  color: #000000;
}

#title {
  font-size: 180px;
  margin-top: 250px;
  margin-bottom: 0px;
  padding: 0;
}

#get-app {
  margin: 0;
  font-size: 18px;
  font-style: italic;
}

#acronym {
  font-size: 20px;
  /* font-style: italic; */
}

/* Contact us page */

.contactus-container {
}

.contactus-container hr {
  width: 87%;
  margin-top: 0px;
}

.contactus-container p {
  font-size: 38px;
  color: #0f111a;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 24px;
}

.contactus-form {
  margin-left: 35%;
  margin-right: 40%;
}

input[type="text"],
select,
textarea {
  /* width: 193px; */
  margin-top: 10px;
  font-family: "Nunito";
  font-size: 16px;
}

input[type="text"] {
  width: 484px;
  height: 32px;
  padding-left: 10px;
}

select {
  height: 38px;
  width: 500px;
  padding-left: 10px;
}

input[type="submit"] {
  width: 88px;
  height: 35px;
  margin-top: 18px;
  margin-bottom: 30px;
  color: white;
  border: none;
  border-radius: 6px;
  background-color: #f74f4f;
  font-size: 16px;
  font-family: "Nunito";
  outline: none;
  cursor: pointer;
}

textarea {
  width: 479px;
  padding: 10px;
}
