@font-face {
  font-family: "Nunito";
  src: url("./nunito-sans/nunitoreg.ttf");
}

body {
  font-family: "Nunito";
  background-color: #f2ebe7;
}

.container {
  width: 420px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-top: -81.5px; /*height of div*/
  margin-left: -210px; /*width of div*/
  /* background-color: rgb(236, 226, 229); */
  /* border: 1px solid black; */
  /* border-radius: 12px; */
  font-weight: 700;
}

.container img {
  width: 90px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 10px;
}

.container h1 {
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.container table {
  width: 200px;
  border-spacing: 10px;
  display: block;
  margin-left: 50px;
  margin-right: auto;
  text-align: right;
}

input[type="text"],
input[type="password"] {
  width: 300px;
  padding: 8px 10px;
  margin: 0;
  border: 1px solid #353535;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Nunito";
}

input[type="submit"] {
  width: 45%;
  height: 35px;
  margin-top: 18px;
  margin-bottom: 30px;
  color: white;
  border: none;
  border-radius: 6px;
  background-color: #f74f4f;
  font-size: 16px;
  font-family: "Nunito";
}

input[type="submit"]:hover {
  cursor: pointer;
  outline: none;
}

#username::placeholder,
#passw::placeholder {
  font-family: "Nunito";
  font-style: italic;
}
