@font-face {
  font-family: "Nunito";
  src: url("./nunito-sans/nunitoreg.ttf");
}

body {
  font-family: "Nunito";
  background-color: #f2ebe7;
}

.logout {
  margin-top: 30px;
  margin-left: 30px;
}

a {
  text-decoration: none;
  padding: 5px;
  font-size: 30px;
  color: black;
  transition: 00.4s;
  border: 2px solid black;
  border-radius: 3px;
}

a:hover {
  background-color: rgba(247, 79, 79, 0.9);
}

table {
  text-align: center;
  border-spacing: 40px;
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;
}

tr {
  margin-right: 100px;
}
td {
  font-size: 44px;
  padding: 0 200px;
  /* margin-left: 200px; */
}
td p {
  border: 2px solid black;
}
#window1-number,
#window2-number,
#window3-number,
#window4-number,
#queue-number {
  margin: 30px 0px 10px 0px;
  font-size: 70px;
}

.queue {
  /* margin-top: 70px; */
  font-size: 35px;
  text-align: center;
}
