@font-face {
  font-family: "Nunito";
  src: url("./nunito-sans/nunitoreg.ttf");
}

body {
  font-family: "Nunito";
  background-color: #f2ebe7;
}

a {
  text-decoration: none;
  margin: 18px 20px;
  font-size: 20px;
  color: black;
}

a:active {
  color: #f00000;
}

table {
  text-align: center;
  border-spacing: 40px;
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;
}

td {
  font-size: 44px;
}

#window1-number,
#window2-number,
#window3-number,
#window4-number,
#queue-number {
  margin: 30px 0px 10px;
  font-size: 70px;
}

.queue {
  /* margin-top: 70px; */
  font-size: 35px;
  text-align: center;
}
